.img  {
    border: 20px solid transparent; /* Required for border-image */
    padding: 15px;
    border-image: url(alienborder2.bmp) 30 round;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:20px;
    width: 70%;
    height:70%;

}
.body {
    font-family:Bahnschrift;
    background-color: #a69d9d;
    margin: 20px;
    height: 90vh;

}
h1   {color: blue;
    margin-left:25%;
    margin-right:20%;
}
p1   {color:darkseagreen}
p    {color: #FFFB25;}
li   {color: whitesmoke;

}
a    {margin-left:70px;
    color: #182e28;}

.intro  {background-color:blue;
    border-width:4px;
    border-style:solid;
    border-color: #faf9fa;
    border-radius:10px;
    color:white;
    padding:10px;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:20px;
}

.table
{   margin-left:5%;
    margin-right:5%;
    margin-bottom: 20px;

}

td,th {border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: #2c302f;}
.trow1
{   color: rgb(154, 205, 50);
    background-color: rgba(0, 13, 255, 0.69);
    a{color: #aab9cf
    }


}

.trow2
{   color: blue;
    background-color: yellowgreen;
    a{color: #0c56c0
    }


}

.th1
{   color: blue;
    background-color: #b8ff39;
    height: 40px;
    width: 20%;

}
.form {
    background-color: #89929e;
    border-width: 4px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;
    color: #ffffff;
    padding: 20px;
    margin-left: 20%;
    margin-right: 30%;
    margin-bottom: 20px;
}
.listen
{
    background-color: #4f4f52;
    border-width: 3px;
    border-style: solid;
    border-color: #0a66ec;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.lynx{
    background-color: #c3c3e5;
    border-width: 2px;
    border-style: solid;
    border-color: #182e28;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 30%;
    margin-bottom: 2px;
    padding: 1px;
}

.bodydiv{
    background-color: #333337;
    border-width: 2px;
    border-style: solid;
    border-color: #d9fff5;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 25%;
    margin-bottom: 20%;
    padding: 20px;
}

.tablediv{
    background-color: #b2b1b1;
    border-width: 3px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2px;
    padding: 1px;
}

.button{
    margin: 2px;}

.th2{   color: #49dcc1;
    background-color: #395900;


}
